# macOS
.DS_Store
.env
# Xcode
DerivedData/
*.xcuserdata/
xcuserdata/
*.xcuserstate
*.moved-aside
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Temporary
*.tmp
.env
dist/
